<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="static/css/home.css">
</head>

<body>
	<div class="container">
		<h1>Tekk Sparrow Programs</h1>
		<h2>Simple API: Indeed Part II</h2>
		<img src="static/img/profile.jpg" alt="Profile Image" class="profile-image">
		<div class="code-container">
			<h1 class="{% if token %}success{% else %}error{% endif %} auth-text">Authentication Status:
				{% if token %}
				  Verified
				{% else %}
				  Unverified
				{% endif %}
			  </h1>
			{% if code is none %}
			<h1>Howdy!!! Stranger. Try logging in first!</h1>
			{% endif %}
		</div>

		<div class="buttons-container">
			<button id="login-btn">Login</button>
			<button id="api-call-btn" {% if not token %}disabled{% endif %}>Make API Call</button>
		</div>
	</div>

	<script>
		document.getElementById('login-btn').onclick = function () {
			location.href = '/login';
		};
		document.getElementById('api-call-btn').onclick = function () {
			location.href = '/api-call';
		};
	</script>
</body>

</html>